services:
  nginx:
    container_name: nginx
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    ports:
      - 80:80
      - 443:443
    sysctls:
      net.ipv4.ip_local_port_range: "10240 65535"
  xcallscan-testnet:
    build:
      context: ./
      dockerfile: Dockerfile
    container_name: xcallscan-container-testnet-dev
    # ports:
    #   - "3000:3000"
    #   - "4000:4000"

    command: sh -c "cd api && pm2 start 'npm run start' --name api && cd ../explorer && pm2 start 'npm run docker-start-testnet' --name explorer && pm2 logs"

